<main>
  <div class="contenedor__todo">
    <div class="contenedor__login-registro">
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <h2>Iniciar Sesión</h2>
        
        <div>
          <label for="userName">Nombre de usuario:</label>
          <input id="userName" formControlName="userName" class="input-text" placeholder="Nombre de usuario" required>
        </div>

        <div>
          <label for="password">Contraseña:</label>
          <input id="password" type="password" formControlName="password" class="input-text" placeholder="Contraseña" required>
        </div>

        <button type="submit" class="primary">Iniciar sesión</button>
      </form>

      <p>¿No tienes una cuenta? <a [routerLink]="['/registro']" class="secondary">Regístrate aquí</a></p>
    </div>
  </div>
</main>
