* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}
app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

main {
    background-image: url('https://jzoykxtgshtojpikzhhd.supabase.co/storage/v1/object/public/homes/fondo.jpeg');
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: auto; 
}

.primary {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 60px;
    border-radius: 50%;
    background-color: #0ad156;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
}
.secondary1{
    padding: 10px 20px;
    margin-top: 30px;
    border-radius: 50%;
    background-color: #0ad156;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
}
.secondary{
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 17px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #0ad156;
    color: black;
}


.contenedor__login-registro {
    max-width: 400px;
    margin: auto;
}

.contenedor__login-registro form {
    width: 100%;
    padding: 40px 20px;
    background: rgb(82, 127, 141);
    border-radius: 10px;
    
}

.contenedor__login-registro form h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: #050505;
}

.contenedor__login-registro form input {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 16px;
    outline: none;
}
/* Consultas de medios */
@media (max-width: 1060px) {
    .contenedor__todo {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .caja__trasera {
        flex-direction: column;
        text-align: center;
    }

    .contenedor__login-registro {
        max-width: 100%;
        padding: 0 20px;
    }
}


@media (max-width: 585px) {
    .contenedor__todo {
        padding: 10px;
    }

    .caja__trasera div {
        margin: 10px;
    }

    .contenedor__login-registro form {
        padding: 20px 10px;
    }
}