
<main class="todo"><header>
    <div id="profile">
      <img src="assets/casa2.jpeg" class="avatar" alt="avatar" />
      <span id="userName">Dilan</span>
    </div>
    <nav>
      <ul>
        <li><a routerLink="/home">Inicio</a></li>
        <li><a routerLink="/mi-perfil">Mi Perfil</a></li>
        <li><a routerLink="/añadir-propiedad">Añadir Propiedad</a></li>
        <li><a routerLink="/lista-de-propiedades">Lista de Propiedades</a></li>
        <li><a routerLink="/editar-propiedad/1">Editar Propiedad</a></li>
        <li><a routerLink="/reservas">Mis Reservas</a></li>
        <li><a routerLink="/mensajes">Mensajes</a></li>
        <li><a routerLink="/valoraciones">Reseñas</a></li>
        <li><a routerLink="/notificaciones">Notificaciones</a></li>
      </ul>
    </nav>
  </header>

  <body>
    <div class="side-container">
      <div class="col-md-6">
        <img
          [src]="getHomeInfo().image"
          class="img-fluid"
          alt="{{ getHomeInfo().title }}"
        />
      </div>
      <div class="col-md-6">
        <h2>{{ getHomeInfo().title }}</h2>
        <p><strong>Descripción:</strong> {{ getHomeInfo().description }}</p>
        <p><strong>Valor:</strong> {{ getHomeInfo().price }}</p>
        <p><strong>Dueño:</strong> {{ getHomeInfo().owner }}</p>
        <p><strong>Zona:</strong> {{ getHomeInfo().area }}</p>
        <p><strong>Negociable:</strong> {{ getHomeInfo().negotiable }}</p>
        <p><strong>Tipo:</strong> {{ getHomeInfo().type }}</p>
      </div>
      <div class="review-section">
        <h3>Deja tu reseña</h3>
        <app-review-form [listingId]="getHomeInfo().id"></app-review-form>
      </div>
      
    </div>
    <button class="button">Contactar</button>
  </body>
</main>
