<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<header>
  <div id="profile">
    <img src="assets/casa2.jpeg" class="avatar" alt="avatar" />
    <span id="userName">Dilan</span>
  </div>
  <nav>
    <ul>
      <a href="/home">
        <label>Home</label></a>
      <li><a href="/mi-perfil">Mi perfil</a></li>
      <li><a href="/gestion-propiedades">Gestión de propiedades</a></li>
      <li><a   href="/login/login.component.html">cerrar sesion</a></li>
    </ul>
  </nav>
</header>

<main class="main">
  <div class="carousel">
    <img
      [src]="images[currentIndex]"
      alt="Imagen del carrusel"
      class="carousel-image"
    />
    <div class="controls">
      <button (click)="prevImage()" class="control-button">Anterior</button>
      <button (click)="nextImage()" class="control-button">Siguiente</button>
    </div>
  </div>
  
  <div class="content">
    <div>
      <app-search-bar (setCriterios)="setFilters($event)"></app-search-bar>
      <div class="flex-content">
        @for (item of filter(); track item.title;) {
          @if(item.title.toLowerCase().includes(this.searchTerm)) {
            <app-galery-card [cardCasainfo]="item"></app-galery-card>
          }
        } @empty {
          <p class="card-filter">There are no items.</p>
        }
      </div>
    </div>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
