<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<main class="todo">
  <header>
    <!-- Avatar a la izquierda -->
    <section id="profile">
      <div class="avatar-container">
        <img [src]="user.profilePicture || defaultProfileImage" alt="Foto de perfil" class="avatar" />
        <div>
          <span id="userName">{{ user.fullName }}</span>
          
        </div>
      </div>
    </section>

    <!-- Menú centrado -->
    <nav>
      <ul>
        <li><a routerLink="/home">Inicio</a></li>
        <li><a routerLink="/mi-perfil">Mi Perfil</a></li>
        <li><a routerLink="/añadir-propiedad">Añadir Propiedad</a></li>
        <li><a routerLink="/lista-de-propiedades">Lista de Propiedades</a></li>
        <li><a routerLink="/editar-propiedad/1">Editar Propiedad</a></li>
        <li><a routerLink="/reservas">Mis Reservas</a></li>
        <li><a routerLink="/mensajes">Mensajes</a></li>
        <li><a routerLink="/valoraciones">Reseñas</a></li>
        <li><a routerLink="/notificaciones">Notificaciones</a></li>
      </ul>
    </nav>

    <!-- Cerrar sesión a la derecha -->
    <div class="logout-button">
      <p><a routerLink="/login">Cerrar sesión</a></p>
    </div>
  </header>

  <main class="main">
    <!-- Carrusel de imágenes -->
    <div class="carousel">
      <img [src]="images[currentIndex]" alt="Imagen del carrusel" class="carousel-image" />
      <div class="controls">
        <button (click)="prevImage()" class="control-button">Anterior</button>
        <button (click)="nextImage()" class="control-button">Siguiente</button>
      </div>
    </div>

    <!-- Contenido de búsqueda y visualización de propiedades -->
    <div class="content">
      <div>
        <app-search-bar (setCriterios)="setFilters($event)"></app-search-bar>
        <div class="flex-content">
          <ng-container *ngFor="let item of filter(); trackBy: trackByTitle">
            <app-galery-card *ngIf="item.title.toLowerCase().includes(searchTerm)" [cardCasainfo]="item"></app-galery-card>
          </ng-container>
          <p *ngIf="filter().length === 0" class="card-filter">No hay propiedades disponibles.</p>
        </div>
      </div>
    </div>
  </main>
  <router-outlet></router-outlet>

</main>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


